html {
    font-size: 62.5%;
}

body {
    /* background-color: #1f2937; */
    margin: 0 auto;
    /* min-height: 100vh; */
    max-width: 1200px;
}

header,
.hero-section,
.info-cards-section,
.quote-section,
.cta-section,
footer {
    padding: 0 10%;
    display: flex;
}

/* Header section */
header {
    background-color: #1f2937;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    color: #f9faf8;
    font-weight: bold;
    font-size: 2.4rem;
    min-width: fit-content;
}

.header-links {
    list-style: none;
    margin: 0 0 0 3.6em;
    padding: 0;
    display: flex;
    gap: 1.8em;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.8rem;
}
